.nav {
  position: absolute;
  left: 16px;
  top: 16px;
  
  display: flex;
  flex-direction: column;
}

.navLink {
  padding: 5px 0;
  color: var(--color-content-darkest);
}

.nav > button {
  margin-top: 4px;
}
